<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header">
        <div class="left-header-nav">
          <a href="/">Good Travel</a>
          <%= form_with(url: "/rooms", method: :get, local: true) do |f| %>
            <%= f.text_field :area ,:placeholder =>"エリア"%>
            <i class="fas fa-map-marker-alt"></i>
            <%= f.text_field :keyword,:placeholder =>"キーワード" %>
            <i class="fas fa-search"></i>
            <%= f.submit %>
          <% end %>
        </div>
        <div class="right-header-nav">
          <% if @current_user %>
            <div class="nav-item">
              <nav role="navigation">
                <ul>
                  <li class="menu-item-has-children">
                    <a><%= @current_user.name %></a>
                    <ul class="sub-menu">
                      <li><a href="/rooms/new">ルーム登録</a></li>
                      <li><a href="/reservations">予約済ルーム一覧</a></li>
                      <li><a href="/rooms/posts">登録済ルーム一覧</a></li>
                      <li><a href="/users/account/<%=@current_user.id%>">設定</a></li>
                      <li><%= link_to "ログアウト", {controller: "users", action: "logout"}, method: :post %></li>
                    </ul>
                  </li>
                </ul>
             </nav>
           </div>
          <% else %>
            <div class="nav-item">
              <a class="btn btn-primary my-2 mx-3" href="/users/sign_in">ログイン</a>
              <a class="btn btn-secondary" href="/users/sign_up">登録する</a>
            </div>
          <% end %>
        </div>
      </div>
    </header>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    <footer class="footer">

    </footer>
  </body>
</html>
